<a href="https://colab.research.google.com/github/saffarizadeh/INSY4054/blob/main/Python_Basics_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://saffarizadeh.com/Logo.png" width="300px"/>

# *INSY 4054: Emerging Technologies*

# **Python Basics II**

Instructor: Dr. Kambiz Saffarizadeh

---

##Comparison Operators and Boolean variables

Comparison operators, also called relational operators, compare two values and evaluate down to a single Boolean value.

<table>
<tr>
<td><b>Operator</b></td>
<td><b>Meaning</b></td>
</tr>
<tr>
<td>==</td>
<td>Equal to</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal to</td>
</tr>
<tr>
<td><</td>
<td>Less than</td>
</tr>
<tr>
<td>></td>
<td>Greater than</td>
</tr>
<tr>
<td><=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td>>=</td>
<td>Greater than or equal to</td>
</tr>
</table>

In [ ]:
45 == 45

True

In [ ]:
45 == 543

False

In [ ]:
2 != 3

True

In [ ]:
5 != 5

False

In [ ]:
'Hello' == 'Hello'

True

In [ ]:
'Hello' != 'hello'

True

In [ ]:
42 == '42'

False

In [ ]:
45 < 400

True

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (&&, ||, etc.).

In [ ]:
x = 5
print(x)
y = (x == 7)
print(y)

5
False

In [ ]:
done = True
is_tuesday = False
print(type(done))
print(done and is_tuesday) # Logical AND; prints "False"
print(done or is_tuesday)  # Logical OR; prints "True"
print(not done)   # Logical NOT; prints "False"
print(done != is_tuesday)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

# if / elif / else

If statements in Python look like this (pay attention to the indentation):

In [ ]:
done = True

if done:
  print("It is done!")

It is done!

So, after `if` you need to provide a Boolean value.
This Boolean value could come directly from a variable or from a comparision.

In [ ]:
x = 10

if x > 5:
  print("The value of x is larger than 5.")

The value of x is greater than 5.

If you want to check multiple conditions, you could do the following:

In [ ]:
x = 2

if x > 5:
  print("The value of x is larger than 5.")
else:
  print("The value of x is less than or equal to 5.")

The value of x is less than or equal to 5.

In [ ]:
x = 5

if x > 10:
  print("The value of x is greater than 10.")
elif x > 5:
  print("The value of x is greater than 5.")
else:
  print("The value of x is less than or equal to 5.")

The value of x is less than or equal to 5.

---
# for / in
You can easily go through all the values in a list using a for loop in Python.

In [ ]:
items = ["First Item", "Second Item", "Thrid Item"]

for item in items:
  print(item)

First Item
Second Item
Thrid Item

Please note than we chose the name `item` just to make the code more readable. You could choose whatever name you prefer to represent the focal item in the loop list.

If you prefer to have a loop that runs a piece of code a specific number of times, you can use `range` and specify the number of times you want to run the code.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

Since we often work with lists in Python, there is a very useful way to loop through the items in a list, do something with the item, and create a new list out of the modified items, all in one line.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_my_list = [item for item in my_list if item%2 == 0]

print(new_my_list)

[2, 4, 6, 8]

---
# functions

If you have a piece of code that you might want to reuse several times in your analysis, you should define it as a function.
This way you can easily run the same piece of code over and over again.

In [ ]:
def print_odd_numbers():
  for number in range(10):
    if number % 2 != 0:
      print(number)

In [ ]:
print_odd_numbers()

1
3
5
7
9

To make functions more useful, you can actually send them some inputs and get back some outputs.

In [ ]:
def odd_numbers_in_range(from_number, to_number):
  numbers = []
  for number in range(from_number, to_number):
    if number % 2 != 0:
      numbers.append(number)
  return numbers

In [ ]:
odd_numbers = odd_numbers_in_range(5, 14)

print(odd_numbers)

[5, 7, 9, 11, 13]

We can use `lambda` functions to create small functions in Python.

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Let's say we want to write a shorter version of the following function:

In [ ]:
def square(number):
  return number*number

y = square(5)
print(y)

25

The shorter version is written like this:

In [ ]:
square = lambda number: number * number

y = square(5)
print(y)

25